//
//  General.xcconfig
//  FaveAssessment
//
//  Created by Muhammad Usman on 20/05/2021.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

API_KEY              = AIzaSyAiG-lMTEIo8ec4BhpQRJzqWJpTLAnq_cM
BASE_URL             = https:/$()/youtube.googleapis.com/youtube/v3/
